@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: rgb(0, 168, 235);
    --accent-color: rgb(241, 228, 36);
    --background-color: rgb(200, 200, 200);
    --foreground-color: white;
    --shadow-color: #999999;

    --small-profile-pic-size: 50px;
    --large-profile-pic-size: 100px;
}

/* body > * {
    border: 2px solid red;
}

body > * > * {
    border: 2px solid blue;
}

body > * > * > * {
    border: 2px solid green;
}

body > * > * > * > * {
    border: 2px solid purple;
} */

/* General */
body {
    font-family: "Roboto", sans-serif;

    display: grid;
    grid-template: max-content max-content / minmax(max-content, 30ch) 3fr;
    height: 100vh;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

.icon {
    height: 100%;
}

.icon.white {
    /* Turn black SVG white */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(141deg) brightness(103%) contrast(101%);
}

img {
    display: inline;
}

.profile-pic {
    height: 100%;
    border-radius: 100%;
}

/* Header */
#header {
    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template: max-content max-content / 1.5fr max-content;
    gap: 2rem;
    padding: 2rem 4rem;
    align-items: center;

    background-color: var(--foreground-color);
    box-shadow: 0px 5px 5px 0px var(--shadow-color);
}

#search {
    display: flex;
    gap: 2rem;
}

#search .icon {
    height: 50px;
}

#search input {
    flex: 1;
    border-radius: 20px;
    background-color: var(--background-color);
    border: none;
    padding: 1rem;
}

#search input:focus {
    outline: 4px solid var(--main-color);
}

#misc-info {
    display: grid;
    grid-template-columns: 30px var(--small-profile-pic-size) auto;
    align-items: center;
    gap: 3rem;
    margin: 0 auto;
}

#user-display {
    display: grid;
    grid-template: 1fr 1fr / var(--large-profile-pic-size) auto;
    font-weight: bold;
}

#user-display > .profile-pic {
    grid-row: 1 / -1;
}

#user-display > .text {
    align-self: flex-end;
    padding-left: 2rem;
}

#user-display > .name {
    align-self: flex-start;
    font-size: 150%;
    padding-left: 2rem;
}

#interaction-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#interaction-buttons > button {
    color: white;
    background-color: var(--main-color);
    border: none;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

#interaction-buttons > button:hover {
    background-color: hsl(from var(--main-color) h s calc(l - 10));
}

#interaction-buttons > button:active {
    background-color: hsl(from var(--main-color) h s calc(l - 20));
}

/* Sidebar */
#sidebar {
    grid-row: 1 / span 2;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 2rem;

    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

#sidebar h2, .nav li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40px;
    align-items: center;
    gap: 2rem;
}

#sidebar h2 {
    max-width: 250px;
}

.nav li {
    margin: 1rem 0;
    font-size: 20px;

}

/* Content */
#content {
    grid-row: 2;
    grid-column: 2;
    
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

#projects { 
    grid-row: 1 / -1;
}

#projects > .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#announcements, #trending {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

#trending .user {
    display: grid;
    grid-template: 1fr 1fr / 1fr 3fr;
}

#trending .user img {
    grid-row: 1 / -1;
}